body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

main {
    padding-top: 100px;
}

header {
    background-color: rgba(192, 177, 203, 1);
    height: 100px; /* Adjust the height as needed */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2000;
}

.header-title {
    font-size: 24px;
    position: fixed;
    left: 90px;
}

.header-subtitle {
    font-size: 16px;
    margin-top: 50px;
    position: fixed;
    left: 90px;
}

.introduction,
.hobbies-heading,
.workxp-heading,
.education-heading,
.contact-heading {
    margin-left: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hobbies-heading h2 {
    background-color: rgba(254, 220, 149, 0.5); /* Yellow with 50% opacity */
    padding: 10px 0 10px 120px; /* Adjust padding: top, right, bottom, left */
    margin-left: -120px; /* Compensate for the padding on the left */
}

.workxp-heading h2 {
    background-color: rgba(254, 220, 149, 0.5); /* Yellow with 50% opacity */
    padding: 10px 0 10px 120px; /* Adjust padding: top, right, bottom, left */
    margin-left: -120px; /* Compensate for the padding on the left */
}

.education-heading h2 {
    background-color: rgba(117, 190, 185, 0.5); /* Dark Mint with 50% opacity */
    padding: 10px 0 10px 120px; /* Adjust padding: top, right, bottom, left */
    margin-left: -120px; /* Compensate for the padding on the left */
}


.contact-heading {
    background-color: rgba(192, 177, 203, 0.5); /* Lila with 50% opacity */
    padding: 10px 0; /* Adjust padding: top/bottom, left/right */
    margin-left: -120px; /* Compensate for the padding on the left */
    padding-left: 120px;
    text-indent: 120px; /* Start the text at 120px from the left */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Apply the same font family */
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: medium;
}

.no-bullets li {
    margin-bottom: 10px;
}

footer {
    background-color: rgba(117, 190, 185, 0.5);
    color: #333;
    padding: 5px;
    text-align: center;
    z-index: 1;
}

.social-icons {
    margin: 0;
    margin-top: 20px;
 }
 
 .social-icons a:first-child {
     display: inline-block;
     margin: 0 20px;
     margin-top: 30px;
     padding-right: 5px; /* Increase the padding-right value to move the icons further to the right */
 }
 
 .social-icons img {
     width: 25px;
     height: 25px;
 }

.copyright {
    font-size: small;
    margin: 10;
    text-align: center;
}

.invisible-link {
    color: #333;
    text-decoration: none;
    position: relative;
    left: 20px;
    z-index: 1;
}

.invisible-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(136, 209, 204, 0.5);
    z-index: -1;
    transition: background-color 0.3s ease;
}

.invisible-link:hover::before {
    background-color: rgba(117, 190, 185, 1);
}

.vertical-square {
    width: 75px;
    height: 100%;
    background-color: rgba(223, 208, 234, 0.5);
    position: fixed;
    top: 0;
    z-index: 1000; /* Lower z-index than the header */
}

.year {
    font-size: large;
    margin: 10;
    text-align: center;
}

.list-detail {
    color: #333;
    text-decoration: none;
    position: relative;
    left: 20px;
    z-index: 1;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px; /* Adjust padding */
}

.contact-info {
    text-align: left;
    margin-right: 120px; /* Compensate for the padding on the right */
}

.contact-info img {
    width: 300px;
    height: 300px;
}

.contact-info p {
    font-size: 18px;
    margin-top: 10px;
    text-align: right;
}

.contact-form {
    width: 50%;
    margin-left: 0px; /* Compensate for the padding on the left */
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: rgba(254, 220, 149, 0.5); /* Yellow with 50% opacity */
    color: #333;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: rgba(254, 220, 149, 1); /* Yellow with 100% opacity */
}
