@media (min-width: 1300px) { 

#media-query-hidden {
  display: none;
}

html {
  font-size: 17px;
  font-family: 'ABeeZee', sans-serif;
  color: #F2F2F2;
  background-color: #262626;
  padding: 15px;
  margin: 0px;
}

p, ul {
  font-size: 1.2rem;
  color: #F2F2F2;
  line-height: 1.6;
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Silkscreen', sans-serif;
  line-height: 0.8;
  text-wrap: wrap;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

/* Customized font styles */

h2.subtitle {
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #F2F2F2;

}
sup {
  vertical-align: super;
  font-family: 'ABeeZee', sans-serif;
  font-style: italic;
  font-size: 0.9rem;
  color: #A6A6A6;
}

/* Primary navigation */

nav {
  display: flex;
  height: 80px;
  background-color: #262626;
  border: solid 2px #F2F2F2;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#nav-logo {
  padding: 0px 60px;
  border-right: solid 2px #F2F2F2;
}

p#logo {
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.3em;
  color:#F2F2F2;
  text-align: center;
  padding: 0px 40px;
  overflow: hidden;
}

#nav-links-box {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  margin: 0;
  list-style: none;
}

#nav-links-box li {
  border-left: solid 2px  #F2F2F2;
}

#nav-links-box a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 1rem;
  color: #F2F2F2;
  text-decoration: none;
  padding: 0px 40px;
  overflow: hidden;
}

#nav-links-box a:hover {
  color: black;
  background: white;
}

/* Header container */

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100px;
  padding: 200px 0px;
  border-left: solid 2px  #F2F2F2;
  border-right: solid 2px #F2F2F2;
  border-bottom: solid 2px #F2F2F2;
}

#header-container {
 width: 45%;
 padding-left: 60px;
}

/* Bio container */

#bio-container {
  display: flex;
  flex-direction: row;
  background-color: #0D0D0D;
  padding: 140px 100px;
  border-left: solid 2px  #F2F2F2;
  border-right: solid 2px #F2F2F2;
  border-bottom: solid 2px #F2F2F2;
  text-align: justify;
  align-items: flex-start;
  height: 100%;
  gap: 60px;
  margin: 0px;
}

#bio-container h2 {
  font-size: 5rem;
  margin: 0px;
} 

#bio-container p {
padding: 0px 20px;
}

/* Quick facts container */

#quickfacts-outer-container {
  display: flex;
  flex-direction: column;
  padding: 90px 60px 100px 60px;
  border-left: solid 2px #F2F2F2;
  border-right: solid 2px #F2F2F2;
}

#quickfacts-outer-container h2 {
  font-size: 3rem;
  align-self: center;
  padding-bottom: 70px;
  text-align: center;
} 

#quickfacts-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  padding-bottom: 60px;
}

#quickfacts-cards p {
  font-size: 1.1rem;
  color:#262626; 
  height: 150px;
  width: 150px;
  padding: 10px;
}

.card1 {
  transform: rotate(10deg);
  background:#F2F2F2;
  box-shadow: 
  10px 10px 20px black,
  inset -65px -75px 72px -53px rgba(0,0,0,0.26);
  z-index: -1;
}

.card2 {
  background:#F2F2F2;
  box-shadow: 
  33px 36px 38px -28px black,
  inset -5px -48px 38px -14px rgba(0,0,0,0.16);
}

.card3 {
  background-image:url(https://i.postimg.cc/ZqLsVNfy/coffeestains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-30deg);
  box-shadow: 
  10px 10px 20px black,
  -48px -41px 192px -93px rgba(0,0,0,0.16);
  z-index: -1;
}
/* Skills container */

#skills-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 30px 150px 30px;
  background:#0D0D0D;
  border-left: solid 2px #F2F2F2;
  border-right: solid 2px #F2F2F2;
  border-top: dashed 4px #F2F2F2;
}

#skills-outer-container h2 {
  font-size: 3rem;
  padding: 10px ;
} 

#skills-top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0px;
  width: 80%;
 
}

#skills-bottom-section {
  display: flex;
  margin-top: 40px;
  align-self: center;
  background:#262626;
  width: 60%;
  border: solid 2px #F2F2F2;
}

#skills-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  width: 100%;
  text-transform: uppercase;
}

#skillscolumn1 {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#skillscolumn1, #skillscolumn2 > i, p {
  display: inline-block;
  padding: 10px 0px;
}

#skillscolumn2 {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#skills-grid .fa-solid, .fa-regular {
  color: #F2F2F2;
  padding: 0.5em;
  font-size: 2.2rem;
}

/* Work contrainer + Education container header */

.gradient-text-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  border: solid 2px #F2F2F2;
}

.gradient-text-section p, h2 {
  font-family: 'Silkscreen', sans-serif;
  line-height: 1.6;
  font-size: 2rem;
  padding: 0px 5px;
  margin: 0px;
}

#workexperience1, #education6 {
color: #3c3c3c;
}

#workexperience2,#education5 {
color: #515151;
}

#workexperience3, #education4 {
color: #5b5959;
}

#workexperience4, #education3 {
color: #717171;
}

#workexperience5, #education2 {
color: #939393;
}

#education1 {
 color:#A6A6A6;
 }
#education7 {
  color: #0D0D0D;
}

/* Work experience list */

#experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 2px #F2F2F2;
  border-right: solid 2px #F2F2F2;
}

.work-experience-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px #A6A6A6;
}

.work-experience-entry-last {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.work-experience-entry p {
  font-size: 1.2rem;
  padding:0px 70px;
}

.work-experience-entry-last p {
  font-size: 1.2rem;
  padding:0px 70px;
}


/* Education container */

#education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 2px #F2F2F2;
  border-right: solid 2px #F2F2F2;
}

.education-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px #F2F2F2;

}

.education-entry-last {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 2px #F2F2F2;
}

.education-entry p {
  font-size: 1.2rem;
  padding:0px 70px;
}

.education-entry-last p {
  font-size: 1.2rem;
  padding:0px 70px;
}
/* Link styles */

.external-link {
  color: #262626;
  text-decoration: none;
  background:#F2F2F2;
  padding: 4px;
}

.external-link:hover {
  color: #262626;
  background: #D9D9D9;
}

.resources-link{
  font-family: 'ABeeZee', sans-serif;
  color:  #F2F2F2;
  background-color: #0D0D0D;
  text-decoration: underline;
  padding: 4px;
}

/* Contact container */

#contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0D0D0D;
  padding: 80px 0px;
  border-left: solid 2px  #F2F2F2;
  border-right: solid 2px #F2F2F2;
}

#contact-me h2 {
  padding: 20px 0px;
}
#contact-me p {
 padding-bottom: 10px;
 line-height: 1.6;
 margin:0px;
 text-align: center;
}

.pixel-container {
  display: flex;
  padding: 0px;
  position: relative;
}

#original {
  width: 250px;
}
#pixelated {
  width: 250px;
  image-rendering: pixelated;
  position: absolute;
  top: 0;
  transition: 1s;
}

#pixelated:hover {
  opacity: 0;
}
/* Footer */

footer {
  font-size: 1rem;
  font-family: 'ABeeZee', sans-serif;
  background-color: #0D0D0D;
  padding: 20px 60px 20px 60px;
  margin: 0px;
  border: solid 2px #F2F2F2;
}

#footer-text {
display: flex;
flex-direction: row;
width: 70%;
}

#copyright-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p.footer-text {
  font-family: 'ABeeZee', sans-serif;
  color: #F2F2F2;
}

#footer-text, #copyright-text {
  font-family: 'ABeeZee', sans-serif;
  color: #F2F2F2;
}

.fa-brands {
  color: #F2F2F2;
  padding: 10px;
  font-size: 1.2rem;
}
}

@media (max-width: 1300px) { 

  html {
    background-color: #262626;
    padding: 50px;
    color:#F2F2F2;
    text-align: center;
  }

  p {
    font-size: 20px;
  }

  #copyright {
    padding: 20px
  }

  #media-query-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }
  
  nav, header, main, footer {
    display: none;
  }
}
